{% extends 'base/base.html' %}

{% block content %}

    <div class="body">
        <!--headings-->
        <h1>Note Details</h1>
        <!--headings-->

        <!--details note box-->
        <div class="note-details-container">
            <h2>{{ note.title }}</h2>
            <img class="detail-img" src="{{ note.image }}"
                 alt="note-image"/>
            <div>
                <p>Content</p>
            </div>
            <p>
                {{ note.content }}
            </p>
            <div class="right">
                <a class="button edit" href="{% url 'edit_note' note.pk %}">Edit</a>
                <a class="button delete" href="{% url 'delete-note' note.pk %}">Delete</a>
            </div>
        </div>
        <!--end details note box-->
    </div>
{% endblock content %}