{% extends 'base/base.html' %}

{% block content %}

    <!-- Details Page -->
    <section id="details-page" class="details">
        <div class="book-information">
            <h3>{{ book.title }}</h3>
            <p class="type">Type: {{ book.type }}</p>
            <p class="img"><img src="{{ book.image }}" alt="{{ book.title }}-image"></p>
            <div class="actions">
                <a class="button" href="{% url 'edit-book' book.pk %}">Edit</a>
                <a class="button" href="{% url 'delete-book' book.pk %}">Delete</a>
            </div>
        </div>
        <div class="book-description">
            <h3>Description:</h3>
            <p>{{ book.description }}</p>
        </div>
    </section>
{% endblock content %}
