{% extends 'base/base.html' %}

{% block content %}

    <!-- Dashboard Page-->
    <section id="dashboard-page" class="dashboard">
        <h1>Dashboard</h1>
        <!-- Display paragraph: If the user doesn't have any books  -->
        {% if not rows %}
            <p class="no-books">No books in database!</p>
        {% else %}

            {% for row in rows %}
                <!-- Display ul: with list-items for every books if any -->
                <ul class="my-books-list">

                    {% for book in row %}
                        <li class="myBooks">
                            <h3>{{ book.title }}</h3>
                            <p>Type: {{ book.type }}</p>
                            <p class="img"><img src="{{ book.image }}" alt="{{ book.title }}-image">
                            </p>
                            <a class="button" href="{% url 'book-details' book.pk %}">Details</a>
                        </li>
                    {% endfor %}

                </ul>
            {% endfor %}
        {% endif %}
    </section>
{% endblock content %}