{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Starts Main Section -->
    <main>
        <div class="pet-profile">
            <div class="profile">
                <div class="profile-data">
                    <div class="profile_img">
                        <div class="image">
                            <img src="{{ pet.personal_photo }}"
                                 alt="img8">
                        </div>
                    </div>
                    <div class="personal">
                        <div class="edit">
                            <p>{{ pet.name }}</p>
                            <a href="">
                                <img class="edit-img" src="{% url 'pet-edit' 'username' pet.slug %}" alt="edit button">
                            </a>
                            <a href="">
                                <img class="bin-img" src="{% url 'pet-delete' 'username' pet.slug %}" alt="bin button">
                            </a>
                        </div>
                        <div class="data">
                            <span>{{ all_photos.count }}</span>
                            <p>photos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pet-posts">

                <!-- IF Photos Start Pet Photos Post Section -->
                {% if all_photos %}
                    <!-- Start First Pet Photo Post -->
                    {% include 'common/pets-posts.html' %}
                {% else %}
                    <!-- IF Photos End Pet Photos Post Section -->

                    <!-- IF NOT Photos Show No Post Image -->
                    <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">
                {% endif %}
            </div>
        </div>
    </main>
    <!-- End Main Section -->

{% endblock %}